<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Markdown Blog</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body class="font-body text-white bg-gray-800 bg-fixed"
  style="background-image: url('/images/background.png'); background-repeat: no-repeat; background-position: center; background-size:inherit;">


  <div class="flex flex-col h-screen justify-between">
    <div>
      <!-- navbar -->
      <nav
        class="sticky top-0 z-20 bg-gray-200 backdrop-filter backdrop-blur-lg bg-opacity-20 border-b border-gray-600">
        <div class="max-w-5xl mx-auto px-4">
          <div class="flex items-center justify-between h-16">
            <span>
              <a href="/">

                <svg class="inline-block fill-current text-logo mr-2" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24">
                  <path
                    d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z" />
                </svg>
                <p class="inline-block font-logo font-medium text-2xl text-white align-middle">Markdown Blog</p>

              </a>
            </span>
            <div class="flex space-x-4 text-white">
              <a href="/articles/new" class="px-3 py-1 btn btn-primary rounded-lg">New
                Article</a>
            </div>
          </div>
        </div>
      </nav>