<%- include('../partials/header') %>



<div class="max-w-5xl mx-auto px-4">

  <div class="card">

    <div class="m-3">
      <h1 class="text-9xl font-bold pb-10">
        404
      </h1>
      <h1>
        Page Not found
      </h1>
    </div>

  </div>


</div>


</div>

<%- include('../partials/footer') %>